.todo-container {
  width: 500px;
  margin: 50px auto;
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  gap: 10px;
}

.todo-input {
  flex: 1;
  padding: 10px;
  border-radius: 4px;
}

.add-btn {
  padding: 10px 15px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
}

.todo-list {
  margin-top: 20px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  background: #f3f3f3;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-text {
  font-size: 16px;
}

.todo-text.done {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}
